.overall {
    width:750px;
    margin:0 auto;
    background-color: #f5f2e5;
}
*{
    margin:0;
    padding:0;
}
.iconz {
    background: url("img/iconz.png") no-repeat;
}
.list {
    width:748px;
    height:132px;
    background-color: #cf000f;
    list-style: none;
    border:1px solid black;
}
.list .icon1 {
    width: 707px;
    height: 27px;
    background-position: -2px -9px;
    margin-top:2px;
    margin-left:20px;
}
.list .icon2 {
    width:130px;
    height:38px;
    background-position: -1px -48px;
    margin-top:34px;
    margin-left:24px;
    margin-bottom:28px;
    float: left;
}
.caipiao {
    float: left;
    font-size:34px;
    margin-top:42px;
    margin-left:15px;
    font-weight:bold;
    color: #ffffff;
}
.denglu {
    float: right;
    font-size:30px;
    margin-top:42px;
    color: #fdedef;
    margin-right:10px;

}
.lest1 {
    background-color: #fff;
}
.body1 {
    border-top:10px solid #f5f2e5;
}
.lest1 li {
    list-style: none;
    width: 375px;
    height: 140px;
    border-bottom:1px solid #f5f2e5;
}
.iconx {
    background: url("img/iconx.png") no-repeat;
}
.tr1 {
    float: left;
}
.tr2 {
    float: right;
}
.lest1 .icon21 ,.lest1 .icon22 ,.lest1 .icon23 ,.lest1 .icon24 ,
.lest1 .icon25 ,.lest1 .icon26 ,.lest1 .icon27 ,.lest1 .icon28 ,
.lest1 .icon31 ,.lest1 .icon32 ,.lest1 .icon33 ,.lest1 .icon34 ,
.lest1 .icon35 ,.lest1 .icon36 ,.lest1 .icon37 ,.lest1 .icon38 ,
.lest1 .icon39 ,.lest1 .icon40 ,.lest1 .icon42 , .lest1 .icon43 ,
.lest1 .icon44 ,.lest1 .icon45 ,.lest1 .icon46 ,.lest1 .icon47 {
    width:86px;
    height:86px;
    float: left;
}
.lest1 .icon41{
    width:86px;
    height:96px;
    float: left;
}
.lest1 .icon21 {
    background-position: -17px -15px;
    margin:30px 10px 25px 25px ;
 }
.lest1 .icon22 {
    background-position: -112px -15px;
    margin:30px 10px 25px 25px ;
}
.lest1 .icon23 {
    background-position: -208px -15px;
    margin:30px 10px 25px 25px ;
}
.lest1 .icon24 {
    background-position: -313px -14px;
    margin:30px 10px 25px 25px ;
}
.tip1{
    width:144px;
    height:34px;
    background-position: -186px -48px;
    margin-top:2px;
    margin-left:122px;
}
.lest1 .icon25 {
    background-position: -402px -14px;
    margin:30px 10px 25px 25px ;
}
.lest1 .icon26 {
    background-position: -18px -113px;
    margin:30px 10px 25px 25px ;
}
.lest1 .icon27 {
    background-position: -115px -111px;
    margin:30px 10px 25px 25px ;
}
.lest1 .icon28 {
    background-position: -305px -304px;
    margin:30px 10px 25px 25px ;
}
.lest1 .icon31 {
    background-position: -17px -212px;
    margin:30px 10px 25px 25px ;
}
.lest1 .icon32 {
    background-position: -404px -111px;
    margin:30px 10px 25px 25px ;
}
.lest1 .icon33 {
    background-position: -115px -212px;
    margin:30px 10px 25px 25px ;
}
.lest1 .icon34 {
    background-position: -209px -212px;
    margin:30px 10px 25px 25px ;
}
.lest1 .icon35 {
    background-position: -308px -206px;
    margin:30px 10px 25px 25px ;
}
.lest1 .icon36 {
    background-position: -407px -210px;
    margin:30px 10px 25px 25px ;
}
.lest1 .icon37 {
    background-position: -16px -308px;
    margin:30px 10px 25px 25px ;
}
.lest1 .icon38 {
    background-position: -404px -308px;
    margin:30px 10px 25px 25px ;
}
.lest1 .icon39 {
    background-position: -215px -317px;
    margin:30px 10px 25px 25px ;
}
.lest1 .icon40 {
    background-position: -305px -304px;
    margin:30px 10px 25px 25px ;
}
.lest1 .icon41 {
    background-position: -115px -308px;
    margin:30px 10px 25px 25px ;
}
.lest1 .icon42 {
    background-position: -13px -415px;
    margin:30px 10px 25px 25px ;
}
.lest1 .icon43 {
    background-position: -111px -415px;
    margin:30px 10px 25px 25px ;
}
.lest1 .icon44 {
    background-position: -214px -111px;
    margin:30px 10px 25px 25px ;
}
.lest1 .icon45 {
    background-position: -208px -409px;
    margin:30px 10px 25px 25px ;
}
.lest1 .icon46 {
    background-position: -310px -403px;
    margin:30px 10px 25px 25px ;
}
.lest1 .icon47 {
    background-position: -406px -403px;
    margin:30px 10px 25px 25px ;
}
.body2 {
    height: 180px;
    background-color: #fff;
    border-top:10px solid #f5f2e5;
    border-bottom:10px solid #f5f2e5;

}
.leiji {
    font-size:27px;
    float: left;
    color: #565655;
    margin-top:24px;
    margin-left:20px;
}
.huan {
    font-size:27px;
    float: right;
    color: #c0c0c0;
    margin-top:24px;
    margin-right:20px;
}
.list3 {
    float: left;
}
.list3 .icon51 ,.list3 .icon52 ,.list3 .icon53 ,.list3 .icon54 ,.list3 .icon55 ,.list3 .icon56 ,.list3 .icon57 {
    width:60px;
    height: 60px;
    float: left;
}
.list3 .icon58 {
    width: 130px;
    height: 58px;
    float: right;
}
.list3 .icon51 {
    background-position: -1px -105px;
    margin-left:18px;
    margin-top:32px;
}
.list3 .icon52 {
    background-position: -79px -105px;
    margin-left:18px;
    margin-top:32px;
}
.list3 .icon53 {
    background-position: -158px -105px;
    margin-left:18px;
    margin-top:32px;
}
.list3 .icon54 {
    background-position: -236px -105px;
    margin-left:18px;
    margin-top:32px;
}
.list3 .icon55 {
    background-position: -309px -105px;
    margin-left:18px;
    margin-top:32px;
}
.list3 .icon56 {
    background-position: -393px -105px;
    margin-left:18px;
    margin-top:32px;
}
.list3 .icon57 {
    background-position: -471px -105px;
    margin-left:18px;
    margin-top:32px;
}
.list3 .icon58 {
    background-position: -581px -107px;
    margin-left:52px;
    margin-top:32px;
}
.list1 .icon66 {
    width: 144px;
    height: 34px;
    background-position: -186px -48px;
    /*margin-left:52px;*/
    /*margin-top:32px;*/

}



.zz1 {
    font-size: 35px;
    font-weight: bold;
    margin-top: 35px;
    margin-bottom: 10px;
}
.z1 {
    color: #b4b4b3;
    font-size:26px;
}
.zll {
    color: #b4b4b3;
    font-size:26px;
}
.body3 {
    float: left;
    border-bottom:30px solid #f5f2e5;
}
.footer ul{
    float: left;
    background-color: #232220;
    height: 99px;
    list-style: none;
    width: 750px;
}
.list2 .icon11 ,.list2 .icon12 ,.list2 .icon13 ,.list2 .icon14 ,.list2 .icon15 {
    width: 55px;
    height: 49px;
    float: left;
}
.list2 .icon11 {
    background-position: -11px -203px;
    margin-top:10px;
    margin-left:70px;
}
.list2 .icon12 {
    background-position: -138px -203px;
    margin-top:10px;
    margin-left:85px;
}
.list2 .icon13 {
    background-position: -277px -203px;
    margin-top:10px;
    margin-left:85px;
}
.list2 .icon14 {
    background-position: -396px -203px;
    margin-top:10px;
    margin-left:85px;
}
.list2 .icon15 {
    background-position: -531px -202px;
    margin-top:10px;
    margin-left:85px;
    margin-right:60px;
}
.zf {
    color: #c1c1c1;
    font-size:25px;
    display: block;
    float: left;
    margin-top:10px;
}
.zh1 ,.zh2 ,.zh3 ,.zh4 ,.zh5 {
    float: left;
}
.zh1 {
    margin-left:70px;
}
.zh2 {
    margin-left:88px;
}
.zh3 {
    margin-left:90px;
}
.zh4 {
    margin-left:92px;
}
.zh5 {
    margin-left:94px;
}
