.overall {
    width: 500px;
    text-align: center;
}
.box1{
    height: 100px;
    line-height:100px;
}
.box1 div {
    width: 98px;
    height: 100px;
    border:1px solid red;
    float: left;
}
.box2 {
    width: 330px;
    height: 400px;
    float: left;
}
.box2 div {
    border:1px solid black;
    border-top:none;
    float: left;
}
.b1 {
    width: 328px;
    height: 149px;
    float: left;
}
.b2 {
    width: 130px;
    height: 149px;
    float: left;
}
.box2 .b3 {
    width: 197px;
    height: 149px;
    float: right;
    border-left:none;
}
.b4 {
    width: 328px;
    height: 99px;
}
.box3 {
    width: 170px;
    height: 400px;
    float: left;
}
.box3 div {
    height:199px;
    border:1px solid black;
    border-top:none;
}
.box4{
    width: 498px;
    height: 100px;
    border:1px solid black;
    float: left;

}
.clear:after {
    clear:both;
    conten:"";
    visibility: hidden;
    display: block;
}