/*css reset*/

.h3{font-size:100%;font-width:normal;}

/*文字排版*/
.f12{font-size:12px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.fb{font-weight:bold;}
.fn{font-weight:normal;}
.lh150{line-height:150%;}
.lh180{linr-height:180%;}
.bgcg{background-color: ghostwhite;}

/*定位*/
.tl{text-align:left;}
.fl{float: left;display: block;}
.fr{float:right;display:block;}
.cl{clear: left;}

/*长度高度*/
.w100{width: 100px;}
.w300{width: 300px;}
.w320{width:320px;}
.w350{width: 350px;}
.w370{width:370px;}
.w400{width:400px;}
.w420{width:420px;}
.h30{height:30px;}
.h120{height:120px;}
.h400{height:400px;}
.lh30{line-height: 30px}

/*边距*/
.m10{margin:10px;}
.b{border:1px solid gainsboro;}
.bb{border:1px solid gainsboro;}
.pr{padding-right:20px;}
.pl{padding-left:20px;}
.pt{padding-top:20px;}

.bao {
    width:1058px;
    margin:0 auto;
}
.h3 {
    display: block;}
div {
    border:1px solid ghostwhite;
}
.list {
    font-size:16px;
    line-height:30px;
    float: right;
    padding-right:10px;
}
.list1 {
    font-size:16px;
    line-height:30px;
    float: left;
    padding-top:20px;
    padding-left:10px;
}
.list2 {
    font-size:16px;
    line-height:30px;
    padding-left:10px;
}
h3 {
    font-size:18px;
    font-weight:bold;
    height: 30px;
    background-color: gainsboro;
}
.bt {
    width: 350px;
    height: 30px;
    display: block;
    background-color: gainsboro;
}