/*首页*/
body{
    border-top:18px solid #000;
}
.layout ,.ll{
    width:961px;
    margin:0 auto;
}
.header img{
    padding:15px 0 20px 0;
    float: left;
    display: block;
    border:none;

}
.header ul{
    border:1px solid transparent;
    float: right;
    display: inline;
    border:none;


}
.header ul{
    margin-right:0;
    overflow: hidden;

}
.header ul li{
    font-size:16px;
    float: right;
    display: inline;
    margin-left:72px;
    margin-top:50px;
}
.cc1 a,.cc2 a,.cc3 a,.cc4 a{
    color: #000000;
}
.cc5 a{
    color: orange;
}
.picture{
    text-align: center;
}
.left ,.right{
    width: 468px;
    height:355px;
    display: block;
}
.left{
    float: left;
}
.right{
    float: right;
}
.left ul {
    height:305px;
    border-left:1px solid gainsboro;
    border-right:1px solid gainsboro;
}
.li1 ,.li2 ,.li3 {
    border-bottom:1px solid gainsboro;
    padding:9px 10px 9px 15px;
    overflow: hidden;
}
h3{
    font-size: 16px;
    font-weight:bold;
    padding-top:15px;
    padding-bottom:7px;
    border-bottom:5px solid #000;
}
.li1 img,.li2 img,.li3 img{
    text-align: left;
    display: block;
    float: left;
}
.li1 p,.li2 p,.li3 p{
    font-size: 14px;
    text-indent:28px;
    display: block;  
}
.left a {
    color: orange;
    height: 16px;
    width: 36px;
    font-size: 12px;
    background-color: #000000;
    float: right;
    padding:3px 3px;
}
.fy{
    float:right;
    width:270px;
}
.right ul{
    display: block;
    background-image: url(img/eee.png);
}
h2{
    font-size: 16px;
    font-weight:bold;
    padding-top:15px;
    padding-bottom:7px;
}
.r1 ,.r2,.r3 ,.r4{
    width: 192px;
    height:130px;
    border:1px solid gainsboro;
    border-top:none;
    overflow: hidden;
    padding-left:20px;
    padding-top:20px;
    padding-right:20px;
}
.right ul p{
    font-size: 14px;
    text-indent:28px;
}
.r1 ,.r3{
    float: left;
    border-right:none;
}
.r2 ,.r4{
    float: right;
}
.li1 p ,.li2 p ,.li3 p {
    padding-left:10px;
}
.footer {
    width:100%;
    height:74px;
    float: left;
    display: block;
    background-color: #e2e2e2;

}
.ll p{
    font-size:12px;
    display: block;
    float: left;
    color: #858585;
    padding-top:10px;
    line-height: 220%;
}
.ll img{
    display: block;
    float: right;
    vertical-align: middle;
    padding-top:14px;
    padding-bottom:18px;
}
/*业务2*/
.cc4 {
    color: orange;
}
.ye {
    border-top:2px solid #000;
    color: orange;
    border-bottom:none;
}